body {
  background-size: cover;
  width: 100%;
  margin: 0;
  font-family: "Helvetica Neue";

  #header {
    background-color: red;
  }

  #sidebar {
    background-color: blue;
  }

  #main {
    background-color: yellow;
  }
}
