body {
  background-size: cover;
  width: 100%;
  margin: 0;
  font-family: "Helvetica Neue";

  #header {
    background-color: #1C688E;
  }

  .nav {
    background-color: #1C688E;
  }

  #sidebar {
    background-color: white;
    border: 2px solid gray;
  }

  #cuisine {
    border-bottom: 1px solid black;
  }

  #stars {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    img {

    }
  }

  #main {
    background-color: white;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
  }

  #showmore {
    width: 50%;
    align-self: center;
  }
}
